footer {
    background-color: #00802f;
    text-align: center;
    padding: 5px;
    color: white;
    margin-top: 50px;
    height: 10vh;
  }
  
  footer a {
    color: inherit;
  }
  
  footer p {
    margin: 0;
    font-size: 18px;
  }

  footer h1{
    color: inherit;
    font-size: 14px;
    
  }
