
<div style="display: flex; padding-top: 10px;">
    <div style="margin-left: 40px; margin-top:10px; padding-right: 20px;">
        <textarea style="height: 450px;resize: none;width: 60vh;"
            [(ngModel)]="message" 
            class="form-control" 
            placeholder="Nachricht einfügen..."  
            rows="15"
        ></textarea>

        <div *ngIf="errorMessage" class="alert alert-danger" style="margin-top: 10px;">
            {{ errorMessage }}
        </div>

        <button style="display: inline-block; width: 130px;  position: relative;padding-left: 30px;margin-top: 10px;margin-left: 425px;"
            class="btn btn-primary"
            [disabled]="!message && !nickname"
            (click)="addToChat(nickname, message)"
        >
        <img
            src="../../../assets/send.png"
            id='beforeicon' 
            class='beforeicon'
            style="height: 20px; width: 20px; position: absolute; top: 50%; left: 12px; transform: translateY(-50%)"
        />
            Senden
        </button>
    </div>
</div>
