<div style="display: flex;">
    <div style="margin-left: 40px; margin-top:40px; padding-right: 20px;">
        <input
        type="text"
        [(ngModel)]="name"
        class="form-control"
        placeholder="Name einfügen..."
      />
        <textarea style="margin-top: 10px;"
            [(ngModel)]="message" 
            class="form-control" 
            placeholder="Nachricht einfügen..."  
            rows="15"
        ></textarea>

        <div *ngIf="errorMessage" class="alert alert-danger" style="margin-top: 10px;">
            {{ errorMessage }}
        </div>

        <button style="margin-top: 20px;"
            class="btn btn-primary"
            [disabled]="!message || !name"
            (click)="addToChat(name, message)"
        >
            Absenden!
        </button>
    </div>

    <div>
        <div *ngFor="let msg of messages" style="padding-top: 10px;"p>
            <div class="message-container">
                <div class="timestamp">{{ msg.timestamp | date: 'dd MMM HH:mm' }}</div>
                <p class="message">
                    <strong>{{ msg.sender }}:&nbsp;</strong>
                    {{ msg.message }}
                </p>
            </div>
        </div>
    </div>
</div>
