main{
    height: 75vh; 
    overflow-y: scroll;
    background: white;
}
div.messages-container {
    overflow-y: auto;
    height: 100%;
}
.btn-primary {
    background-color: #28a745; 
    border-color: #28a745;
    color: white;
    height: 40px;
  }
  
  .btn-primary:hover {
    background-color: #218838; 
    border-color: #1e7e34;
  }
  
